<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lucascabrales.montecarlosimulation">

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Montecarlo"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BuffonsNeedleActivity"
            android:label="Aguja de Bufón"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AreaCurveActivity"
            android:label="Área Bajo la Curva"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RandomWalkActivity"
            android:label="Random Walk"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QueueActivity"
            android:label="Lava Autos (Colas)"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SimActivity"
            android:label="Simulación Lava Autos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ResultsActivity"
            android:label="Resultados de la Simulación"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DistributionsActivity"
            android:label="Distribuciones de Probabilidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AboutUsActivity"
            android:label="Acerda de Nostros"
            android:screenOrientation="portrait" />
    </application>

</manifest>